<ion-header>
  <ion-toolbar>
    <ion-title>Inventory</ion-title>
    <ion-button slot="primary" (click)="toggleReorderGroups()">{{reorderButtonName}}</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let inventoryList of inventory">
    <ion-card-header>
      <ion-item lines="full" expand="full" no-padding>
        {{inventoryList.name}}
        <ion-button fill="clear" slot="end" (click)="presentPopover($event, inventoryList.id)">
          <ion-icon slot="icon-only" size="default" name="more"></ion-icon>
        </ion-button>
      </ion-item>
      
    </ion-card-header>
    
    <ion-reorder-group (ionItemReorder)="doReorder($event, inventoryList.id)" disabled="true" > 
      <ion-item-sliding *ngFor="let item of inventoryList.items"> 
        <ion-item>
          <ion-label> {{item.name}}</ion-label>
          <ion-label> {{item.count}}</ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="delete(item, inventoryList.id)">Remove</ion-item-option>
        </ion-item-options>
        <ion-item-options side="start">
          <ion-item-option  color="success" (click)="add(item, inventoryList.id)">Add</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-reorder-group>
    <ion-button  expand="block" fill="clear" size="default" (click)="presentNewItemModal(inventoryList.id)">
      <ion-icon name="add-circle-outline" size="large"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentNewListModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
