<ion-header>
  <ion-toolbar>
    <ion-title>
      Inventory
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{inventoryItem.name}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
    <ion-item-sliding>
      <ion-item>
        <ion-label> Pokemon Gelb</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(inventoryItem)">Delete</ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option  color="success" (click)="add(inventoryItem)">Add</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label> Pokemon Rot</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(inventoryItem)">Delete</ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option  color="success">Add</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label> Pokemon Blau</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(inventoryItem)">Delete</ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option  color="success">Add</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-reorder-group>
</ion-content>
